* {
  margin: 0px;
  padding: 0px;
  width: 100%;
}
/*styles for all buttons */
.buttons {
  text-align: center;
  background-color: palevioletred;
  border: 0px;
  padding: 20px 43px;
  border-radius: 5px;
  width: 150px;
  color: #fff;

  font-weight: 700;
}

/* header elements styles */

.headers-elements {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1920px;
  height: 850px;
  background-color: rgba(229, 84, 115, 0.1);
}
.header-info {
  display: flex;
  width: 708px;
  flex-direction: column;
  flex-shrink: 0;
  gap: 20px;
}
.header-title {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
}
.header-para {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400px;
}
.header-image {
  width: 635px;
  height: 800px;
  border: 50px 240px 4017px 1045px;
}
/* problem -- image adjustment issue */
/* main sec-1 styles */
/* .expi {
  width: 310px;
  height: 428px;
} */
.sec-1-title{
   margin-top: 200px;
   margin-bottom: 10px;
    text-align: center;  
    }
.sec-1-para{
    text-align: center;
    margin-bottom: 20px;
}
.sec-1 {
  width: 1920px;
  height: 4867px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  
}
.sec-1-items {
  width: 464px;
  height: 538px;
  padding: 100px;
  justify-content: space-around;
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
}
.sectiont-1-para {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
